/* 
    Created on : Sep 6, 2016, 10:49:46 PM
    Author     : Mohan
*/

body{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    overflow-x: hidden;

}

.index-sidebar-left{
    width: 250px;
    height: 100vh;
    background-color: #2F323A;
    float: left;
    border-right: #1F232B 1px solid;
    display: flex;
    flex-flow: column;
}

.index-sidebar-left-brand{
    padding: 16px;
    height: 64px;
    align-content: center;
    flex: 0 1 auto;
}

.index-sidebar-left-brand .brand-image{
    background-image: url(../img/logo.png);
    height: 32px;
    width:32px;
    float: left;
}

.index-sidebar-left-brand .brand-text{
    color: #E0E0E0;
    float: left;
    line-height: 32px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 18px;
}

.index-sidebar-navigation{
    flex: 1 1 auto;
    color: #E0E0E0;
}

.index-sidebar-navigation ul{
    padding-left: 0px;
}

.index-sidebar-navigation li{
    line-height: 32px;
    cursor: pointer;
    list-style: square;

}

.index-sidebar-navigation li a{
    display: block;
    padding-left: 32px;

    text-decoration: none;
    color: #E0E0E0;
}

.index-sidebar-navigation li .menu-header{
    padding-left: 16px;
    font-weight: 500;
}

.index-sidebar-navigation .menu-collapsed ul{
    display: none;
}

.index-sidebar-navigation li a:hover{
    background-color: #5093E1;
    color: #FFFFFF;
}

.index-middle{
    height: 100vh;
    display: flex;
    flex-flow: column;
}

.index-header{
    height: 50px;
    flex: 0 1 auto;
    float: left;
}

.index-header>div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*.index-menu-toggle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    float: left;
}

.index-header-middle{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    float: left;
    text-align: center;
}

.index-content-right{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    float: left;
    text-align: center;
}*/

.index-content-right>table{
    margin-top: 5px;
}


.index-content{
    display: flex;
    flex-flow: column;

    flex: 1 1 auto;
    /*background-color: #EDEFF5;*/
}

.index-content-header{
    background-color: #FFFFFF;
    border-bottom: #E4E4E4 1px solid;
}

.index-content-body{
    flex: 1 1 auto;
}

.index-content-footer{
    margin-top: auto;
    height: 50px;
    border-top: #E4E4E4 1px solid;
    background-color: #FFFFFF;
}

/*-----------------start smart scroll--------------------*/

.smart-scroll-x{
    overflow-x: scroll;
}

.smart-scroll-y{
    overflow-y: scroll;
}

.smart-scroll-x::-webkit-scrollbar, .smart-scroll-y::-webkit-scrollbar {
    width: 5px;
}

.smart-scroll-x::-webkit-scrollbar-track, .smart-scroll-y::-webkit-scrollbar-track {
    display: none;
}

.smart-scroll-x::-webkit-scrollbar-thumb, .smart-scroll-y::-webkit-scrollbar-thumb {
    background-color: #D1D7E9;
    border-radius: 7px;

    /*border: 1px solid rgba(0, 0, 0, 0);*/
    /*background-clip: padding-box;*/
}
/*-----------------end smart scroll--------------------*/

/*button*/
.btn{
    /*position: relative;*/
  /*overflow: hidden;*/
}
.btn:after{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #3f51b5;
    border-radius: 100%;
    opacity: .6;

    transform: scale(0);
}

.btn:not(:active):after {
  animation: ripple 1s ease-out;
}

.btn:after {
  visibility: hidden;
}

.btn:focus:after {
  visibility: visible;
}

.btn{
    
}

.btn-default{
    background-color: #FFFFFF;
}

.btn-primary{
    /*background-color: #5093E1*/
}

.btn-success{
    background-color: #50C14E
}

.btn-danger{
    background-color: #F65177
}

.btn-danger{
    background-color: #F65177
}

/** panel */
/*.panel-success{
    background-image: none;
    background-color: #50C14E
}
.panel-primary{
    background-image: none;
    background-color: #5093E1
}
.panel-danger{
    background-image: none;
    background-color: #F65177
}
.panel-default{
    background-image: none;
    background-color: #9DA5BE
}

.panel-border{
    border: #666666 thin solid;
}

.color-gray{
    background-color: #f0f0f0;
}
.color-white{
    background-color: #ffffff;
}*/


/*-----------------start background colors--------------------*/
.background-ultra-dark{
    background-color: #2F323A;
}

.background-dark{
    background-color: #EDEFF5;
}

.background-light{
    background-color: #FFFFFF;
}
/*-----------------end background colors--------------------*/

/*-----------------start borders--------------------*/
.border-all{
    border: #E4E4E4 1px solid;
}
.border-top{
    border-top: #E4E4E4 1px solid;
}
.border-right{
    border-right: #E4E4E4 1px solid;
}
.border-bottom{
    border-bottom: #E4E4E4 1px solid;
}
.border-left{
    border-left: #E4E4E4 1px solid;
}
/*-----------------end borders--------------------*/

/*-----------------start table--------------------*/
table{
    width: 100%;
    border-spacing:0 5px;
    border-collapse: separate;
    margin-bottom: 0px;
    table-layout: fixed;
}

thead{
    font-weight: 500;
}

tbody{
}

tr{
    line-height: 32px;
}

tr > th:first-child, tr > td:first-child{
    border-radius: 5px 0 0 5px;
}

tr > th:last-child, tr > td:last-child{
    border-radius: 0 5px 5px 0;
}

th{
    padding: 0 10px 0 10px;
}

td{
    padding: 0 10px 0 10px;
}

.background-light tbody tr{
    background-color: #EDEFF5;
}

.background-dark tbody tr{
    background-color: #FFFFFF;
}

th > label, td > label{
    margin-bottom: 0px;
}
th > .form-control, td > .form-control{
    margin-bottom: 5px;
}
/*-----------------end table--------------------*/

/*-----------------start clickable--------------------*/
.clickable{
    cursor: pointer;
}

/*-----------------end clickable--------------------*/


/*-----------------start text fields--------------------*/
.search-input{
    width: 100%;
    border-radius: 16px;
    min-height: 32px;
    border: #E6E8E8 1px solid;
    margin: 24px 0 8px 0;
    outline: none;
    padding: 0px 16px 0 16px;
}


.form-control{
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: #E6E8E8 1px solid;
}

.form-control:focus{
    border-color: #5093E1;
    box-shadow: none;
    -webkit-box-shadow: none;
}
/*-----------------end text fields--------------------*/

/*-----------------start typeahead--------------------*/
.dropdown-menu{
    border: #B1B7CB 1px solid;
    box-shadow: 1px 1px 5px  #AEB5C9;
    -webkit-box-shadow: 1px 1px 5px  #AEB5C9;
}

.dropdown-menu>li>a{
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-image: none;
    background-color: #5093E1;
}
/*-----------------end typeahead--------------------*/

/*-----------------start label--------------------*/
label{
    font-weight: 500;
}

.label{
    vertical-align: middle;
    padding: 0.2em 0.6em 0.2em;
    margin:  0 5px 0 0px;
}

.label-default{
    background-color: #9DA5BE;
    border: #959DB9 1px solid;
}

.label-primary{
    background-color: #5093E1;
    border: #488EE0 1px solid;
}

.label-success{
    background-color: #50C14E;
    border: #4ABF48 1px solid;
}

.label-warning{
    background-color: #F5A623;
    border: #F5A623 1px solid;
}

.label-danger{
    background-color: #F65177;
    border: #F5456E 1px solid;
}
/*-----------------end label--------------------*/

/*-----------------start text--------------------*/
.text-primary{
    color: #5093E1;
}
.text-success{
    color: #50C14E;
}
.text-warning{
    color: #F5A623;
}
.text-danger{
    color: #F65177;
}
/*-----------------end text--------------------*/


/*--kavish--*/

/*-----------------start ripper--------------------*/

.ripper {
    background: #E6E8E8;
    position: relative;
    overflow: hidden;
}
.ripper:after {
    content: "";
    background: #50C14E;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 240%;
    padding-left: 240%;
    margin-top: -120%;
    margin-left: -120%;
    opacity: 0;
    transition: all 1s;
}
.ripper:active:after {
    padding-top: 0;
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    transition: 0s;
}
/*-----------------end ripper--------------------*/

.text-bold{
    font-weight: bold;
}

.nopadding {
    padding: 1px !important;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: right;
}
.text-left{
    text-align: right;
}

tbody tr:hover{
    color: #ffffff;
    background-color: #50C14E;
}