/* 
    Created on : Sep 6, 2016, 10:49:46 PM
    Author     : Mohan
*/

@import "mixins/variables.scss";

body{
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: 300;
}

.side-bar-left{
    height: 100vh;
    float: left;
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    overflow-x: hidden;
    width: 300px;
    transition: .25s ease-in-out;
    position: absolute;
    z-index: 10;

    .brand{
        padding: 16px 0 16px 16px;
        height: 64px;
        align-content: center;
        flex: 0 1 auto;
        overflow:hidden;


        .brand-image{
            position: absolute;
            display: inline-block;

            background-image: url(../img/leaf.png);
            height: 32px;
            width:32px;
            float: left;

            opacity: 1;
            transition: .25s ease-in-out;
        }

        .brand-text{
            position: absolute;
            display: inline-block;

            color: #E0E0E0;
            line-height: 32px;
            margin-left: 60px;
            font-weight: 700;
            font-size: 18px;
            float: left;

            opacity: 1;
            transition: .25s ease-in-out;
        }
    }

    .user{
        padding: 0px 16px 16px 16px;

        .avatar{
            display: inline;
            width: 48px;
            height: 48px;
            /*transform: rotate(0deg);*/

            transition: .25s ease-in-out;
        }
        .name{
            display: inline;
            margin-left: 16px;

            opacity: 1;
            transition: .25s ease-in-out;
        }
        transition: .25s ease-in-out;
    }

    .search{
        margin: 8px 16px 8px 16px;
        opacity: 1;
        transition: .25s ease-in-out;

        input[type='text']{
            background-color: lighten($bg-ultra-dark-color,20%);
            width: 100%;
            border: none;
            border-radius: 5px;
            padding: 10px;
            outline: none;
        }
    }
}

.side-bar-hidden{
    width: 48px !important;

    .brand{
        .brand-image{
            /*display: none;*/
            opacity: 0;
        }
        .brand-text{
            /*display: none;*/
            opacity: 0;
        }
    }

    .user{
        padding: 0;
        margin: 6px;

        .avatar{
            width: 36px;
            height: 36px;
            text-align: center;
            /*transform: rotate(360deg);*/
        }

        .name{
            opacity: 0;
            /*display: none;*/
        }
    }

    .search{
        opacity: 0;
        /*display: none;*/
    }

    .index-sidebar-navigation{
        opacity: 0;
        /*display: none;*/
    }
}

.index-sidebar-navigation{
    flex: 1 1 auto;
    color: #E0E0E0;

    opacity: 1;
    transition: 0.25s ease-in-out;
}

.index-sidebar-navigation ul{
    padding-left: 0px;
}

.index-sidebar-navigation li{
    line-height: 32px;
    cursor: pointer;
    list-style: square;

}

.index-sidebar-navigation li a{
    display: block;
    padding-left: 32px;
    text-decoration: none;
    color: #E0E0E0;
}

.index-sidebar-navigation li .menu-header{
    padding-left: 16px;
    font-weight: 500;
}

.index-sidebar-navigation .menu-collapsed ul{
    display: none;
}

.index-sidebar-navigation li a:hover{
    background-color: $primary-color;
    color: $light-font-color;
}
.index-sidebar-navigation li a:focus{
    background-color:#9DA5BE;
    color: $light-font-color;
}

.index-middle{
    height: 100vh;
    display: flex;
    flex-flow: column;
    margin-left: 48px;
}

.index-header{
    height: 50px;
    flex: 0 1 auto;
    float: left;
}

.index-header>div{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/*.index-menu-toggle{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px;
    float: left;
}

.index-header-middle{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    float: left;
    text-align: center;
}

.index-content-right{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    float: left;
    text-align: center;
}*/

.index-content-right>table{
    margin-top: 5px;
}


.index-content{
    display: flex;
    flex-flow: column;

    flex: 1 1 auto;
    /*background-color: #EDEFF5;*/
}

.index-content-header{
    background-color: #FFFFFF;
    border-bottom: #E4E4E4 1px solid;
}

.index-content-body{
    flex: 1 1 auto;
}

.index-content-footer{
    margin-top: auto;
    height: 50px;
    border-top: #E4E4E4 1px solid;
    background-color: #FFFFFF;
}