@import "mixins/variables.scss";

.placeholder{
    text-align: center;
    margin-top: 15px;
    display:table;

    h1{
        display: table-cell;
        padding: 50px;
        width: 100%;
        height: 100%;
        margin: auto;
        border-radius: 3px;
        border: 1px dashed;
        color: #C1C1C1;
        background-color: $light-font-color;
        vertical-align: middle;
    }
}

.background-light{
    .placeholder{
        h1{
            border-color: $bg-dark-color-border;
        }
    }
}

.background-dark{
    .placeholder{
        h1{
            border-color: $bg-hi-dark-color-border;
        }
    }
}
