<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12" style="height: calc(100vh - 0px);background-color:#007c92 ">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="col-lg-12">
            <div class="col-lg-1"></div>

            <div class="col-lg-10" style="padding-top: 100px">
                <center>
                    <img class="img-responsive" src="../../img/mrkz2.png" alt=""/>
                </center>
                <div class="input-group input-group-lg" style="margin-top: 6px">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-user"></i></button>
                    </span>
                    <input class="form-control" type="text" ng-model="model.user.userName" placeholder="USER NAME" />   
                </div>
                <div class="input-group input-group-lg" style="margin-top: 6px">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button"><i class="glyphicon glyphicon-lock"></i></button>
                    </span>
                    <input class="form-control" type="password" ng-model="model.user.password" placeholder="PASSWORD" />   
                </div>
                <input type="submit" class="btn btn-lg btn-primary col-lg-12 col-sm-12 col-xs-12 " value="Login" ng-click="ui.login();" style="margin-top: 6px"/>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
